@import url("style.css");

/***********************************************************************************************************************
    HOME
***********************************************************************************************************************/
.home {
  & div {
    border: 5px inset gold;
    background-color: black;
    text-align: center;
    width: 350px;
  }

  & div h1{
    color: #36CFFF;
  }

  & p{
    font-size: 1.5em;
    color: white;
  }
}

/***********************************************************************************************************************
    SYNTAX
***********************************************************************************************************************/
.syntax {
  & p {
    background-color: black;
    color: white;
    padding: 5px;
  }

  & .special {
    color: red;
  }
}

/***********************************************************************************************************************
    TYPES
***********************************************************************************************************************/
.types {
  & .external-css {
    color: blue;
    font-family: Verdana, sans-serif;
  }
}

/***********************************************************************************************************************
    MEASUREMENT UNITS
***********************************************************************************************************************/
.measurement-units {}

/***********************************************************************************************************************
    SELECTORS
***********************************************************************************************************************/
.selectors {}

/***********************************************************************************************************************
    UNIVERSAL SELECTORS
***********************************************************************************************************************/
.universal-selectors {}

/***********************************************************************************************************************
    ELEMENT SELECTORS
***********************************************************************************************************************/
.element-selectors {}

/***********************************************************************************************************************
    CLASS SELECTORS
***********************************************************************************************************************/
.class-selectors {}

/***********************************************************************************************************************
    ID SELECTORS
***********************************************************************************************************************/
.id-selectors {}

/***********************************************************************************************************************
    ATTR SELECTORS
***********************************************************************************************************************/
.attr-selectors {}

/***********************************************************************************************************************
    GROUP SELECTORS
***********************************************************************************************************************/
.group-selectors {}

/***********************************************************************************************************************
    CHILD SELECTORS
***********************************************************************************************************************/
.child-selectors {}

/***********************************************************************************************************************
    DESCENDANT SELECTORS
***********************************************************************************************************************/
.descendant-selectors {}

/***********************************************************************************************************************
    GENERAL SIBLING SELECTORS
***********************************************************************************************************************/
.general-sibling-selectors {}

/***********************************************************************************************************************
    ADJACENT SIBLING SELECTORS
***********************************************************************************************************************/
.adjacent-sibling-selectors {}

/***********************************************************************************************************************
    PSEUDO ELEMENTS
***********************************************************************************************************************/
.pseudo-elements {}

/***********************************************************************************************************************
    PSEUDO CLASSES
***********************************************************************************************************************/
.pseudo-classes {}

/***********************************************************************************************************************
    COMBINATORS
***********************************************************************************************************************/
.combinators {}

/***********************************************************************************************************************
    COLORS
***********************************************************************************************************************/
.colors {}

/***********************************************************************************************************************
    COLOR
***********************************************************************************************************************/
.color {}

/***********************************************************************************************************************
    BACKGROUNDS
***********************************************************************************************************************/
.backgrounds {}

/***********************************************************************************************************************
    FONTS
***********************************************************************************************************************/
.fonts {}

/***********************************************************************************************************************
    TEXT
***********************************************************************************************************************/
.text {}

/***********************************************************************************************************************
    TEXT
***********************************************************************************************************************/
.text {}

/***********************************************************************************************************************
    IMAGES
***********************************************************************************************************************/
.images {}

/***********************************************************************************************************************
    IMAGE GALLERY
***********************************************************************************************************************/
.image-gallery {}

/***********************************************************************************************************************
    ICONS
***********************************************************************************************************************/
.icons {}

/***********************************************************************************************************************
    LINKS
***********************************************************************************************************************/
.links {}

/***********************************************************************************************************************
    TABLES
***********************************************************************************************************************/
.tables {}

/***********************************************************************************************************************
    LISTS
***********************************************************************************************************************/
.lists {}

/***********************************************************************************************************************
    BORDERS
***********************************************************************************************************************/
.borders {}

/***********************************************************************************************************************
    ROUNDED CORNER
***********************************************************************************************************************/
.rounded-corner {}

/***********************************************************************************************************************
    PADDING
***********************************************************************************************************************/
.padding {}

/***********************************************************************************************************************
    MARGINS
***********************************************************************************************************************/
.margins {}

/***********************************************************************************************************************
    BOX MODEL
***********************************************************************************************************************/
.box-model {}

/***********************************************************************************************************************
    DISPLAY
***********************************************************************************************************************/
.display {}

/***********************************************************************************************************************
    INLINE BLOCK
***********************************************************************************************************************/
.inline-block {}

/***********************************************************************************************************************
    CURSOR
***********************************************************************************************************************/
.cursor {}

/***********************************************************************************************************************
    OUTLINES
***********************************************************************************************************************/
.outlines {}

/***********************************************************************************************************************
    DATA TYPES
***********************************************************************************************************************/
.data-types {}

/***********************************************************************************************************************
    ALL
***********************************************************************************************************************/
.all {}

/***********************************************************************************************************************
    ROOT
***********************************************************************************************************************/
.root {}

/***********************************************************************************************************************
    BOX SIZING
***********************************************************************************************************************/
.box-sizing {}

/***********************************************************************************************************************
    WIDTH
***********************************************************************************************************************/
.width {}

/***********************************************************************************************************************
    HEIGHT
***********************************************************************************************************************/
.height {}

/***********************************************************************************************************************
    DIMENSION
***********************************************************************************************************************/
.dimension {}

/***********************************************************************************************************************
    MAX INLINE SIZE
***********************************************************************************************************************/
.max-inline-size {}

/***********************************************************************************************************************
    MIN INLINE SIZE
***********************************************************************************************************************/
.min-inline-size {}

/***********************************************************************************************************************
    MAX BLOCK SIZE
***********************************************************************************************************************/
.max-block-size {}

/***********************************************************************************************************************
    MIN BLOCK SIZE
***********************************************************************************************************************/
.min-block-size {}

/***********************************************************************************************************************
    OVERFLOW
***********************************************************************************************************************/
.overflow {}

/***********************************************************************************************************************
    VISIBILITY
***********************************************************************************************************************/
.visibility {}

/***********************************************************************************************************************
    SCROLLBARS
***********************************************************************************************************************/
.scrollbars {}

/***********************************************************************************************************************
    ZNDEX
***********************************************************************************************************************/
.z-index {}

/***********************************************************************************************************************
    POSITION
***********************************************************************************************************************/
.position {}

/***********************************************************************************************************************
    POSITIONING
***********************************************************************************************************************/
.positioning {}

/***********************************************************************************************************************
    BOTTOM
***********************************************************************************************************************/
.bottom {}

/***********************************************************************************************************************
    FLOAT
***********************************************************************************************************************/
.float {}

/***********************************************************************************************************************
    CLEARFIX
***********************************************************************************************************************/
.clearfix {}

/***********************************************************************************************************************
    DROPDOWNS
***********************************************************************************************************************/
.dropdowns {}

/***********************************************************************************************************************
    NAVBAR
***********************************************************************************************************************/
.navbar {}

/***********************************************************************************************************************
    OVERLAY
***********************************************************************************************************************/
.overlay {}

/***********************************************************************************************************************
    FORMS
***********************************************************************************************************************/
.forms {}

/***********************************************************************************************************************
    ALIGN
***********************************************************************************************************************/
.align {}

/***********************************************************************************************************************
    BUTTONS
***********************************************************************************************************************/
.buttons {}

/***********************************************************************************************************************
    IMAGE SPRITES
***********************************************************************************************************************/
.image-sprites {}

/***********************************************************************************************************************
    MULTI BACKGROUND
***********************************************************************************************************************/
.multi-background {}

/***********************************************************************************************************************
    GRADIENTS
***********************************************************************************************************************/
.gradients {}

/***********************************************************************************************************************
    BOX SHADOW
***********************************************************************************************************************/
.box-shadow {}

/***********************************************************************************************************************
    BOX DECORATION BREAK
***********************************************************************************************************************/
.box-decoration-break {}

/***********************************************************************************************************************
    BORDER IMAGES
***********************************************************************************************************************/
.border-images {}

/***********************************************************************************************************************
    BORDER BLOCK
***********************************************************************************************************************/
.border-block {}

/***********************************************************************************************************************
    BORDER INLINE
***********************************************************************************************************************/
.border-inline {}

/***********************************************************************************************************************
    HOVER
***********************************************************************************************************************/
.hover {}

/***********************************************************************************************************************
    FOCUS
***********************************************************************************************************************/
.focus {}

/***********************************************************************************************************************
    TRANSITION
***********************************************************************************************************************/
.transition {}

/***********************************************************************************************************************
    2D TRANSFORM
***********************************************************************************************************************/
.transform-2d {}

/***********************************************************************************************************************
    3D TRANSFORM
***********************************************************************************************************************/
.transform-3d {}

/***********************************************************************************************************************
    TRANSLATE
***********************************************************************************************************************/
.translate {}

/***********************************************************************************************************************
    ANIMATION
***********************************************************************************************************************/
.animation {}

/***********************************************************************************************************************
    ZOOM
***********************************************************************************************************************/
.zoom {}

/***********************************************************************************************************************
    RESIZE
***********************************************************************************************************************/
.resize {}

/***********************************************************************************************************************
    ARROWS
***********************************************************************************************************************/
.arrows {}

/***********************************************************************************************************************
    QUOTES
***********************************************************************************************************************/
.quotes {}

/***********************************************************************************************************************
    ORDER
***********************************************************************************************************************/
.order {}

/***********************************************************************************************************************
    FLEXBOX
***********************************************************************************************************************/
.flexbox {}

/***********************************************************************************************************************
    TEXT EFFECTS
***********************************************************************************************************************/
.text-effects {}

/***********************************************************************************************************************
    TEXT SHADOW
***********************************************************************************************************************/
.text-shadow {}

/***********************************************************************************************************************
    CARET COLOR
***********************************************************************************************************************/
.caret-color {}

/***********************************************************************************************************************
    TOOLTIPS
***********************************************************************************************************************/
.tooltips {}

/***********************************************************************************************************************
    LOADERS
***********************************************************************************************************************/
.loaders {}

/***********************************************************************************************************************
    PAGINATION
***********************************************************************************************************************/
.pagination {}

/***********************************************************************************************************************
    COUNTERS
***********************************************************************************************************************/
.counters {}

/***********************************************************************************************************************
    CLIP
***********************************************************************************************************************/
.clip {}

/***********************************************************************************************************************
    SHAPES
***********************************************************************************************************************/
.shapes {}

/***********************************************************************************************************************
    MASKING
***********************************************************************************************************************/
.masking {}

/***********************************************************************************************************************
    STYLE IMAGES
***********************************************************************************************************************/
.style-images {}

/***********************************************************************************************************************
    GRID
***********************************************************************************************************************/
.grid {}

/***********************************************************************************************************************
    GRID LAYOUT
***********************************************************************************************************************/
.grid-layout {}

/***********************************************************************************************************************
    HYPHENS
***********************************************************************************************************************/
.hyphens {}

/***********************************************************************************************************************
    HYPHENATE CHARACTER
***********************************************************************************************************************/
.hyphenate-character {}

/***********************************************************************************************************************
    OPACITY
***********************************************************************************************************************/
.opacity {}

/***********************************************************************************************************************
    WRITING MODE
***********************************************************************************************************************/
.writing-mode {}

/***********************************************************************************************************************
    UNICODE-BIDI
***********************************************************************************************************************/
.unicode-bidi {}

/***********************************************************************************************************************
    MIN-CONTENT
***********************************************************************************************************************/
.min-content {}

/***********************************************************************************************************************
    INSET
***********************************************************************************************************************/
.inset {}

/***********************************************************************************************************************
    ISOLATION
***********************************************************************************************************************/
.isolation {}

/***********************************************************************************************************************
    OVERSCROLL
***********************************************************************************************************************/
.overscroll {}

/***********************************************************************************************************************
    JUSTIFY ITEMS
***********************************************************************************************************************/
.justify-items {}

/***********************************************************************************************************************
    JUSTIFY SELF
***********************************************************************************************************************/
.justify-self {}

/***********************************************************************************************************************
    TAB SIZE
***********************************************************************************************************************/
.tab-size {}

/***********************************************************************************************************************
    POINTER EVENTS
***********************************************************************************************************************/
.pointer-events {}

/***********************************************************************************************************************
    PLACE CONTENT
***********************************************************************************************************************/
.place-content {}

/***********************************************************************************************************************
    PLACE ITEMS
***********************************************************************************************************************/
.place-items {}

/***********************************************************************************************************************
    PLACE SELF
***********************************************************************************************************************/
.place-self {}

/***********************************************************************************************************************
    MIX BLEND MODE
***********************************************************************************************************************/
.mix-blend-mode {}

/***********************************************************************************************************************
    OFFSET
***********************************************************************************************************************/
.offset {}

/***********************************************************************************************************************
    ACCENT COLOR
***********************************************************************************************************************/
.accent-color {}

/***********************************************************************************************************************
    USER SELECT
***********************************************************************************************************************/
.user-select {}

/***********************************************************************************************************************
    CASCADING
***********************************************************************************************************************/
.cascading {}

/***********************************************************************************************************************
    VISIBILITY
***********************************************************************************************************************/
.visibility {}

/***********************************************************************************************************************
    LAYERS
***********************************************************************************************************************/
.layers {}

/***********************************************************************************************************************
    @ RULES
***********************************************************************************************************************/
.at-rules {}

/***********************************************************************************************************************
    PAGED MEDIA
***********************************************************************************************************************/
.paged-media {}

/***********************************************************************************************************************
    PRINTING
***********************************************************************************************************************/
.printing {}

/***********************************************************************************************************************
    LAYOUTS
***********************************************************************************************************************/
.layouts {}

/***********************************************************************************************************************
    VALIDATIONS
***********************************************************************************************************************/
.validations {}

/***********************************************************************************************************************
    IMPORTANT
***********************************************************************************************************************/
.important {}

/***********************************************************************************************************************
    MULTI COLUMNS
***********************************************************************************************************************/
.multi-columns {}

/***********************************************************************************************************************
    VARIABLES
***********************************************************************************************************************/
.variables {}

/***********************************************************************************************************************
    FUNCTIONS
***********************************************************************************************************************/
.functions {}

/***********************************************************************************************************************
    MATH FUNCTIONS
***********************************************************************************************************************/
.math-functions {}

/***********************************************************************************************************************
    SPECIFICITY
***********************************************************************************************************************/
.specificity {}

/***********************************************************************************************************************
    CUSTOM PROPERTIES
***********************************************************************************************************************/
.custom-properties {}

/***********************************************************************************************************************
    CSS RWD INTRODUCTION
***********************************************************************************************************************/
.css-rwd-introduction {}

/***********************************************************************************************************************
    CSS RWD VIEWPORT
***********************************************************************************************************************/
.css-rwd-viewport {}

/***********************************************************************************************************************
    CSS RWD GRID VIEW
***********************************************************************************************************************/
.css-rwd-grid-view {}

/***********************************************************************************************************************
    CSS RWD MEDIA QUERIES
***********************************************************************************************************************/
.css-rwd-media-queries {}

/***********************************************************************************************************************
    CSS RWD IMAGES
***********************************************************************************************************************/
.css-rwd-images {}

/***********************************************************************************************************************
    CSS RWD VIDEOS
***********************************************************************************************************************/
.css-rwd-videos {}

/***********************************************************************************************************************
    CSS RWD FRAMEWORKS
***********************************************************************************************************************/
.css-rwd-frameworks {}

/***********************************************************************************************************************
    CSS MEDIA QUERIES
***********************************************************************************************************************/
.media-queries {}
