@import url("style.css");

/***********************************************************************************************************************
    HOME
***********************************************************************************************************************/
.home {
  & div {
    border: 5px inset gold;
    background-color: black;
    text-align: center;
    width: 350px;
  }

  & div h1{
    color: #36CFFF;
  }

  & p{
    font-size: 1.5em;
    color: white;
  }
}

/***********************************************************************************************************************
    SYNTAX
***********************************************************************************************************************/
.syntax {
  & p {
    background-color: black;
    color: white;
    padding: 5px;
  }

  & .special {
    color: red;
  }
}

/***********************************************************************************************************************
    TYPES
***********************************************************************************************************************/
.types {
  & .external-css {
    color: blue;
    font-family: Verdana, sans-serif;
  }
}

/***********************************************************************************************************************
    MEASUREMENT UNITS
***********************************************************************************************************************/
.measurement-units {
  & .unit-mm {
    font-size: 5mm;
  }

  & .unit-cm {
    font-size: 1cm;
  }

  & .unit-q {
    font-size: 40Q;
  }

  & .unit-in {
    font-size: .167in;
  }

  & .unit-pt {
    font-size: 12pt;
  }

  & .unit-pc {
    font-size: 1pc;
  }

  & .unit-px {
    font-size: 16px;
  }

  & .relativeunit-em {
    font-size: 4em;
  }

  & .relativeunit-ex {
    font-size: 4ex;
  }

  & .relativeunit-ch {
    font-size: 4ch;
  }

  & .relativeunit-rem {
    font-size: 4rem;
  }

  & .relativeunit-lh {
    font-size: 4lh;
  }

  & .relativeunit-rlh {
    font-size: 4rlh;
  }

  & .relativeunit-vh {
    font-size: 4vh;
  }

  & .relativeunit-vw {
    font-size: 4vw;
  }

  & .relativeunit-vmin {
    font-size: 4vmin;
  }

  & .relativeunit-vmax {
    font-size: 4vmax;
  }

  & .relativeunit-vb {
    font-size: 4vb;
  }

  & .relativeunit-vi {
    font-size: 4vi;
  }

  & .relativeunit-svw {
    font-size: 4svw;
  }

  & .relativeunit-svh {
    font-size: 4svh;
  }

  & .relativeunit-lvw {
    font-size: 4lvw;
  }

  & .relativeunit-lvh {
    font-size: 4lvh;
  }

  & .relativeunit-dvw {
    font-size: 4dvw;
  }

  & .relativeunit-dvh {
    font-size: 4dvh;
  }
}

/***********************************************************************************************************************
    SELECTORS
***********************************************************************************************************************/
.selectors {
  & .universal-selectors {
    & * {
      margin: 0;
      padding: 0;
      background-color: #04af2f;
      color: white;
      border: 2px solid red;
    }
  }

  & .element-selectors {
    & p {
      color: purple;
    }

    & div {
      color: darkolivegreen;
    }

    & span {
      color: sandybrown;
    }
  }

  & .class-selectors {
    & .cs {
      color: yellow;
    }

    & .bgc.brd {
      background-color: peachpuff;
      border: 4px solid red;
    }

    & p.bgc {
      text-decoration: underline;
    }

    & .room {
      background-color: peachpuff;
    }

    & .bed {
      border: 2px solid blue;
    }

    & .lvg {
      border: 2px solid green;
    }
  }

  & .id-selectors {
    & #id1,
    & #id2,
    & #id3,
    & #id4 {
      color: blue;
      text-decoration: underline;
    }

    & #id1:hover,
    & #id2:hover,
    & #id3:hover,
    & #id4:hover {
      color: green;
    }
  }

  & .attr-selectors {
    & a[target] {
      background-color: lightcoral;
    }

    & a[target="_blank"] {
      background-color: peachpuff;
    }

    & a[href="https://github.com/wasulabenjamin"] {
      background-color: lightskyblue;
    }

    & [data-toggle] {
      background-color: yellow;
    }

    & [type="password"] {
      border: 2px solid red;
    }

    & [href*="www"] {
      color: red;
    }

    & [href^="http:"] {
      color: green;
    }

    & [href$="page5"] {
      color: purple;
    }

    & [href*="www"],
    & [href^="http:"],
    & [href$="page5"] {
      background-color: peachpuff;
      font-size: 20px;
      padding: 5px;
    }

    & [href$="page5"] {
      color: purple;
    }

    & [lang|="en"] {
      background-color: peachpuff;
    }

    & [class~="featured"] {
      background-color: peachpuff;
    }
  }

  & .group-selectors {
    & p,
    & div,
    & span {
      background-color: peachpuff;
    }

    & p,
    & #gs,
    & .gs {
      padding: 5px;
    }
  }

  & .pseudo-classes {
    & .pseudo-hover:hover {
      background-color: peachpuff;
    }

    & .pseudo-activ:active {
      background-color: peachpuff;
    }

    & .p-class-hover {
      
    }

    & .pc-active {}

    & .pc-any-link {}

    & .pc-autofill {}

    & .pc-checked {}

    & .pc-default {}

    & .pc-defined {}

    & .pc-disabled {}

    & .pc-empty {}

    & .pc-enabled {}

    & .pc-first {}

    & .pc-first-child {}

    & .pc-first-of-type {}

    & .pc-fullscreen {}

    & .pc-focus {}

    & .pc-focus-visible {}

    & .pc-focus-within {}

    & .pc-has-b {}

    & .pc-host {}

    & .pc-host-b {}

    & .pc-host-context-b {}

    & .pc-hover {
      & a {
        background-color: lightgrey;
        padding: 10px;
      }

      & div {
        margin-top: 20px;
        padding: 10px;
        border: solid 3px;
        background-color: aqua;
      }

      & a:hover {
        color: red;
      }

      & div:hover {
        background-color: lightgreen;
      }
    }

    & .pc-indeterminate {}

    & .pc-in-range {}

    & .pc-invalid {}

    & .pc-is-b {}

    & .pc-lang-b {}

    & .pc-last-child {}

    & .pc-last-of-type {}

    & .pc-left {}

    & .pc-link {}

    & .pc-modal {}

    & .pc-not-b {}

    & .pc-nth-child-b {}

    & .pc-nth-last-child-b {}

    & .pc-nth-last-of-type-b {}

    & .pc-nth-of-type-b {}

    & .pc-only-child {}

    & .pc-only-of-type {}

    & .pc-optional {}

    & .pc-out-of-range {}

    & .pc-picture-in-picture {}

    & .pc-placeholder-shown {}

    & .pc-read-only {}

    & .pc-read-write {}

    & .pc-required {}

    & .pc-right {}

    & .pc-root {}

    & .pc-scope {}

    & .pc-target {}

    & .pc-valid {}

    & .pc-visited {}

    & .pc-where-b {}

  }

  & .pseudo-elements {
    & .content-insertion::before {
      content: "Note: ";
      font-weight: bold;
      color: red;
    }

    & .content-insertion::after {
      content: url("https://img.icons8.com/?size=32&id=SSa3O7HCPrBv&format=png&color=000000");
    }

    & dialog {
      padding: 20px;
      border: 2px solid black;
      border-radius: 10px;
    }

    & dialog::backdrop {
      background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    }

    & .f-letter::first-letter {
      text-transform: uppercase;
      font-size: 2em;
      color: red;
    }

    & .f-line::first-line {
      text-transform: uppercase;
      background-color: peachpuff;
    }

    & .select-file::file-selector-button {
      background-color: blue;
      color: white;
      height: 32px;
      border: 2px solid red;
    }

    & .list li::marker {
      color: red;
    }

    & .placeholder-pe::placeholder {
      color: red;
    }
  }

  & .descendant-selectors {
    & p {
      background-color: peachpuff;
    }
  }

  & .child-selectors {
    & > p {
      background-color: peachpuff;
    }
  }

  & .adjacent-sibling-selectors {
    & div {
      border: 4px solid;
    }

    & div + p{
      background-color: peachpuff;
      color: blue;
    }
  }

  & .general-sibling-selectors {
    & div {
      border: 4px solid;
    }

    & div ~ p{
      background-color: peachpuff;
      color: blue;
    }
  }

  & .combinators {}
}

/***********************************************************************************************************************
    COLORS
***********************************************************************************************************************/
.colors {}

/***********************************************************************************************************************
    COLOR
***********************************************************************************************************************/
.color {}

/***********************************************************************************************************************
    BACKGROUNDS
***********************************************************************************************************************/
.backgrounds {}

/***********************************************************************************************************************
    FONTS
***********************************************************************************************************************/
.fonts {}

/***********************************************************************************************************************
    TEXT
***********************************************************************************************************************/
.text {}

/***********************************************************************************************************************
    TEXT
***********************************************************************************************************************/
.text {}

/***********************************************************************************************************************
    IMAGES
***********************************************************************************************************************/
.images {}

/***********************************************************************************************************************
    IMAGE GALLERY
***********************************************************************************************************************/
.image-gallery {}

/***********************************************************************************************************************
    ICONS
***********************************************************************************************************************/
.icons {}

/***********************************************************************************************************************
    LINKS
***********************************************************************************************************************/
.links {}

/***********************************************************************************************************************
    TABLES
***********************************************************************************************************************/
.tables {}

/***********************************************************************************************************************
    LISTS
***********************************************************************************************************************/
.lists {}

/***********************************************************************************************************************
    BORDERS
***********************************************************************************************************************/
.borders {}

/***********************************************************************************************************************
    ROUNDED CORNER
***********************************************************************************************************************/
.rounded-corner {}

/***********************************************************************************************************************
    PADDING
***********************************************************************************************************************/
.padding {}

/***********************************************************************************************************************
    MARGINS
***********************************************************************************************************************/
.margins {}

/***********************************************************************************************************************
    BOX MODEL
***********************************************************************************************************************/
.box-model {}

/***********************************************************************************************************************
    DISPLAY
***********************************************************************************************************************/
.display {}

/***********************************************************************************************************************
    INLINE BLOCK
***********************************************************************************************************************/
.inline-block {}

/***********************************************************************************************************************
    CURSOR
***********************************************************************************************************************/
.cursor {}

/***********************************************************************************************************************
    OUTLINES
***********************************************************************************************************************/
.outlines {}

/***********************************************************************************************************************
    DATA TYPES
***********************************************************************************************************************/
.data-types {}

/***********************************************************************************************************************
    ALL
***********************************************************************************************************************/
.all {}

/***********************************************************************************************************************
    ROOT
***********************************************************************************************************************/
.root {}

/***********************************************************************************************************************
    BOX SIZING
***********************************************************************************************************************/
.box-sizing {}

/***********************************************************************************************************************
    WIDTH
***********************************************************************************************************************/
.width {}

/***********************************************************************************************************************
    HEIGHT
***********************************************************************************************************************/
.height {}

/***********************************************************************************************************************
    DIMENSION
***********************************************************************************************************************/
.dimension {}

/***********************************************************************************************************************
    MAX INLINE SIZE
***********************************************************************************************************************/
.max-inline-size {}

/***********************************************************************************************************************
    MIN INLINE SIZE
***********************************************************************************************************************/
.min-inline-size {}

/***********************************************************************************************************************
    MAX BLOCK SIZE
***********************************************************************************************************************/
.max-block-size {}

/***********************************************************************************************************************
    MIN BLOCK SIZE
***********************************************************************************************************************/
.min-block-size {}

/***********************************************************************************************************************
    OVERFLOW
***********************************************************************************************************************/
.overflow {}

/***********************************************************************************************************************
    VISIBILITY
***********************************************************************************************************************/
.visibility {}

/***********************************************************************************************************************
    SCROLLBARS
***********************************************************************************************************************/
.scrollbars {}

/***********************************************************************************************************************
    ZNDEX
***********************************************************************************************************************/
.z-index {}

/***********************************************************************************************************************
    POSITION
***********************************************************************************************************************/
.position {}

/***********************************************************************************************************************
    POSITIONING
***********************************************************************************************************************/
.positioning {}

/***********************************************************************************************************************
    BOTTOM
***********************************************************************************************************************/
.bottom {}

/***********************************************************************************************************************
    FLOAT
***********************************************************************************************************************/
.float {}

/***********************************************************************************************************************
    CLEARFIX
***********************************************************************************************************************/
.clearfix {}

/***********************************************************************************************************************
    DROPDOWNS
***********************************************************************************************************************/
.dropdowns {}

/***********************************************************************************************************************
    NAVBAR
***********************************************************************************************************************/
.navbar {}

/***********************************************************************************************************************
    OVERLAY
***********************************************************************************************************************/
.overlay {}

/***********************************************************************************************************************
    FORMS
***********************************************************************************************************************/
.forms {}

/***********************************************************************************************************************
    ALIGN
***********************************************************************************************************************/
.align {}

/***********************************************************************************************************************
    BUTTONS
***********************************************************************************************************************/
.buttons {}

/***********************************************************************************************************************
    IMAGE SPRITES
***********************************************************************************************************************/
.image-sprites {}

/***********************************************************************************************************************
    MULTI BACKGROUND
***********************************************************************************************************************/
.multi-background {}

/***********************************************************************************************************************
    GRADIENTS
***********************************************************************************************************************/
.gradients {}

/***********************************************************************************************************************
    BOX SHADOW
***********************************************************************************************************************/
.box-shadow {}

/***********************************************************************************************************************
    BOX DECORATION BREAK
***********************************************************************************************************************/
.box-decoration-break {}

/***********************************************************************************************************************
    BORDER IMAGES
***********************************************************************************************************************/
.border-images {}

/***********************************************************************************************************************
    BORDER BLOCK
***********************************************************************************************************************/
.border-block {}

/***********************************************************************************************************************
    BORDER INLINE
***********************************************************************************************************************/
.border-inline {}

/***********************************************************************************************************************
    HOVER
***********************************************************************************************************************/
.hover {}

/***********************************************************************************************************************
    FOCUS
***********************************************************************************************************************/
.focus {}

/***********************************************************************************************************************
    TRANSITION
***********************************************************************************************************************/
.transition {}

/***********************************************************************************************************************
    2D TRANSFORM
***********************************************************************************************************************/
.transform-2d {}

/***********************************************************************************************************************
    3D TRANSFORM
***********************************************************************************************************************/
.transform-3d {}

/***********************************************************************************************************************
    TRANSLATE
***********************************************************************************************************************/
.translate {}

/***********************************************************************************************************************
    ANIMATION
***********************************************************************************************************************/
.animation {}

/***********************************************************************************************************************
    ZOOM
***********************************************************************************************************************/
.zoom {}

/***********************************************************************************************************************
    RESIZE
***********************************************************************************************************************/
.resize {}

/***********************************************************************************************************************
    ARROWS
***********************************************************************************************************************/
.arrows {}

/***********************************************************************************************************************
    QUOTES
***********************************************************************************************************************/
.quotes {}

/***********************************************************************************************************************
    ORDER
***********************************************************************************************************************/
.order {}

/***********************************************************************************************************************
    FLEXBOX
***********************************************************************************************************************/
.flexbox {}

/***********************************************************************************************************************
    TEXT EFFECTS
***********************************************************************************************************************/
.text-effects {}

/***********************************************************************************************************************
    TEXT SHADOW
***********************************************************************************************************************/
.text-shadow {}

/***********************************************************************************************************************
    CARET COLOR
***********************************************************************************************************************/
.caret-color {}

/***********************************************************************************************************************
    TOOLTIPS
***********************************************************************************************************************/
.tooltips {}

/***********************************************************************************************************************
    LOADERS
***********************************************************************************************************************/
.loaders {}

/***********************************************************************************************************************
    PAGINATION
***********************************************************************************************************************/
.pagination {}

/***********************************************************************************************************************
    COUNTERS
***********************************************************************************************************************/
.counters {}

/***********************************************************************************************************************
    CLIP
***********************************************************************************************************************/
.clip {}

/***********************************************************************************************************************
    SHAPES
***********************************************************************************************************************/
.shapes {}

/***********************************************************************************************************************
    MASKING
***********************************************************************************************************************/
.masking {}

/***********************************************************************************************************************
    STYLE IMAGES
***********************************************************************************************************************/
.style-images {}

/***********************************************************************************************************************
    GRID
***********************************************************************************************************************/
.grid {}

/***********************************************************************************************************************
    GRID LAYOUT
***********************************************************************************************************************/
.grid-layout {}

/***********************************************************************************************************************
    HYPHENS
***********************************************************************************************************************/
.hyphens {}

/***********************************************************************************************************************
    HYPHENATE CHARACTER
***********************************************************************************************************************/
.hyphenate-character {}

/***********************************************************************************************************************
    OPACITY
***********************************************************************************************************************/
.opacity {}

/***********************************************************************************************************************
    WRITING MODE
***********************************************************************************************************************/
.writing-mode {}

/***********************************************************************************************************************
    UNICODE-BIDI
***********************************************************************************************************************/
.unicode-bidi {}

/***********************************************************************************************************************
    MIN-CONTENT
***********************************************************************************************************************/
.min-content {}

/***********************************************************************************************************************
    INSET
***********************************************************************************************************************/
.inset {}

/***********************************************************************************************************************
    ISOLATION
***********************************************************************************************************************/
.isolation {}

/***********************************************************************************************************************
    OVERSCROLL
***********************************************************************************************************************/
.overscroll {}

/***********************************************************************************************************************
    JUSTIFY ITEMS
***********************************************************************************************************************/
.justify-items {}

/***********************************************************************************************************************
    JUSTIFY SELF
***********************************************************************************************************************/
.justify-self {}

/***********************************************************************************************************************
    TAB SIZE
***********************************************************************************************************************/
.tab-size {}

/***********************************************************************************************************************
    POINTER EVENTS
***********************************************************************************************************************/
.pointer-events {}

/***********************************************************************************************************************
    PLACE CONTENT
***********************************************************************************************************************/
.place-content {}

/***********************************************************************************************************************
    PLACE ITEMS
***********************************************************************************************************************/
.place-items {}

/***********************************************************************************************************************
    PLACE SELF
***********************************************************************************************************************/
.place-self {}

/***********************************************************************************************************************
    MIX BLEND MODE
***********************************************************************************************************************/
.mix-blend-mode {}

/***********************************************************************************************************************
    OFFSET
***********************************************************************************************************************/
.offset {}

/***********************************************************************************************************************
    ACCENT COLOR
***********************************************************************************************************************/
.accent-color {}

/***********************************************************************************************************************
    USER SELECT
***********************************************************************************************************************/
.user-select {}

/***********************************************************************************************************************
    CASCADING
***********************************************************************************************************************/
.cascading {}

/***********************************************************************************************************************
    VISIBILITY
***********************************************************************************************************************/
.visibility {}

/***********************************************************************************************************************
    LAYERS
***********************************************************************************************************************/
.layers {}

/***********************************************************************************************************************
    @ RULES
***********************************************************************************************************************/
.at-rules {}

/***********************************************************************************************************************
    PAGED MEDIA
***********************************************************************************************************************/
.paged-media {}

/***********************************************************************************************************************
    PRINTING
***********************************************************************************************************************/
.printing {}

/***********************************************************************************************************************
    LAYOUTS
***********************************************************************************************************************/
.layouts {}

/***********************************************************************************************************************
    VALIDATIONS
***********************************************************************************************************************/
.validations {}

/***********************************************************************************************************************
    IMPORTANT
***********************************************************************************************************************/
.important {}

/***********************************************************************************************************************
    MULTI COLUMNS
***********************************************************************************************************************/
.multi-columns {}

/***********************************************************************************************************************
    VARIABLES
***********************************************************************************************************************/
.variables {}

/***********************************************************************************************************************
    FUNCTIONS
***********************************************************************************************************************/
.functions {}

/***********************************************************************************************************************
    MATH FUNCTIONS
***********************************************************************************************************************/
.math-functions {}

/***********************************************************************************************************************
    SPECIFICITY
***********************************************************************************************************************/
.specificity {}

/***********************************************************************************************************************
    CUSTOM PROPERTIES
***********************************************************************************************************************/
.custom-properties {}

/***********************************************************************************************************************
    CSS RWD INTRODUCTION
***********************************************************************************************************************/
.css-rwd-introduction {}

/***********************************************************************************************************************
    CSS RWD VIEWPORT
***********************************************************************************************************************/
.css-rwd-viewport {}

/***********************************************************************************************************************
    CSS RWD GRID VIEW
***********************************************************************************************************************/
.css-rwd-grid-view {}

/***********************************************************************************************************************
    CSS RWD MEDIA QUERIES
***********************************************************************************************************************/
.css-rwd-media-queries {}

/***********************************************************************************************************************
    CSS RWD IMAGES
***********************************************************************************************************************/
.css-rwd-images {}

/***********************************************************************************************************************
    CSS RWD VIDEOS
***********************************************************************************************************************/
.css-rwd-videos {}

/***********************************************************************************************************************
    CSS RWD FRAMEWORKS
***********************************************************************************************************************/
.css-rwd-frameworks {}

/***********************************************************************************************************************
    CSS MEDIA QUERIES
***********************************************************************************************************************/
.media-queries {}
